﻿.LabelStyle {
    background-color: #ff0000;
    color: white;    
    border: 0;
}

.ButtonStyle {
    background-color: #ff0000;
    color: white;   
    border: 0;
}

#LoginForm {
    background-color: red;
    text-size-adjust: auto;
}


